<% include header %>
<!--我们开始设计登录的表单-->
<form method="post">
    <label>用户:</label>
    <input type="text" name="name"></br>
    <label>密码:</label>
    <input type="password" name="password"></br>
    <input type="submit" value="登录">
</form>
<%include footer %>