<% include header %>
<form method="post">
    <label>标题:</label></br>
    <input type="text" name="title"></br>
    <label>正文:</label></br>
    <textarea name="post" cols="100" rows="10"></textarea></br>
    <input type="submit" value="发表">
</form>
<% include footer %>