<%include header %>
<!--在这个里面，开始设计注册表单-->
<form method="post">
    <label>用户:</label>
    <input type="text" name="name"></br>
    <label>密码:</label>
    <input type="password" name="password"></br>
    <label>确认:</label>
    <input type="password" name="password-repeat"></br>
    <label>邮箱:</label>
    <input type="email" name="email"></br>
    <input type="submit" value="注册">
</form>
<%include footer %>
